@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ProximaNovaLight;
  src: url('$lib/images/fonts/proxima-nova-light.woff2') format('woff2');
}
@font-face {
  font-family: ProximaNovaRegular;
  src: url('$lib/images/fonts/proxima-nova-regular.woff2') format('woff2');
}

html {
  font-family: ProximaNovaRegular;
  background-image: url('$lib/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
h1.title-page {
  font-family: ProximaNovaLight;
}
